<div class="col-sm-6 col-md-4">
	<a href="{{content.field_home_inner_section_link.0['#url']}}" class="box-1">
		<div class="boxImage"> 
			<img src="{{file_url(paragraph.field_home_inner_section_image.entity.uri.value)}}" class="img-fluid" 
			alt="{{paragraph.field_home_inner_section_image.alt}}"> 
		</div>
		<div class="box-lower">
		 	<h3>{{ content.field_home_inner_section_title}}</h3>
		 	<p>{{ content.field_home_inner_section_s_d}}</p>
		</div>
	</a> 
</div>



