        <h1 class="mb-3">Manage appearance</h1>
         <div clas="col=md-12">
         <p>Customise the appearance of Research Right by uploading your institution's logo. 
		 Changes will be visible to users who are logged in. Remember to click 'Save' to apply your update.</p>
          </div>
          <div class="row mb-4 ">
          <div class="col-md-12">
            <div class="grey-box-2">
              <div class="row">
                <div class="col-md-7">
                  <h3 class="mb-2"><b>Add a logo</b></h3>
                  <p>Upload your institution's logo. Optionally, you can hyperlink the image.</p>
                  <ul> 
                    <li>Allowed types: png, gif, jpg or jpeg</li>
                    <li>Image must be larger than 100x100 pixels. Landscape images work best</li>
                    <li>2 MB limit</li>
                  </ul>
                  <div class="institution-logo-input">
                    {{ form.my_file }}
                  </div>
                  <span for="edit-field-logo-0-upload" class="UpButton">Choose file</span>
                </div>
                <div class="col-md-5">
                  <div class="img-preview-wrap">
                    <img src="{{ form['my_file']['#image_url'] }}" alt="" class="img-preview">
                  </div>
                </div>
              </div>
            </div>
<div class="col-md-12">

             {{ form.logo_hyperlink }}
             </div>
          </div>
          <div class="col-md-12">
     
            {{ form.actions }}
          </div>
            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}
        </div>

